    .datbox{

    }
    #lightbox {
     background-repeat: no-repeat;
    } 
    .linko {
background-color: transparent; color: rgb(0, 114, 198); text-decoration: none; white-space: nowrap; font-size:13px; cursor: pointer;
}
    #passd:focus {
    outline: none;
	border-bottom: 1px solid #06C;
}
 
    .canvas {
            position: relative;
            /* background-color: brown; */
            width: 250px;
            height: auto;
            margin: auto;
            padding-top: 8%;
        }
        
        .imgclass {
            position: relative;
            width: 160px;
            height: 150px;
            margin-left: 45px;
        }
        
        .tittleText {
            font-weight: 800;
            font-size: large;
            margin-left: 30px;
        }
        /* .under {
    font-weight: 800;
    font-size: large;
    margin: auto;
} */
        
        .loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        
        .loader {
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 0.5em solid rgba(255, 255, 255, 0.4);
            border-right: 0.5em solid rgba(255, 255, 255, 0.4);
            border-bottom: 0.5em solid rgba(255, 255, 255, 0.4);
            border-left: 0.5em solid #038387;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.6s infinite linear;
            animation: load8 1.6s infinite linear;
        }
        
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            70% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            70% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }